.movie-box {
  height: 500px;
  width: 100%;
  
  background-color: #242424;
  position: fixed;
  /* top: 100px; */
  z-index: 1;
}
h2 {
  /* margin-top: 400px; */
  color: white;
  padding: 30px;
  font-size: 36px;
}
.carusels-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
